.flex-container {
    display: flex;
    flex-direction: row-reverse;
    background-image: url('../../../assets/images/home-page-2.jpg');
    background-repeat: no-repeat;
    background-size: 120% 120%;
    height: 120%;
  }
  
  .flex-container > div {
    float: right;
    height: -webkit-fill-available;
    background-color: white;
    width: 40%;
  }
  .contact {
    color: #008cba;
    font-family: Arial;
    font-weight: bold;
    text-align: center;
    margin-left: auto;
    margin-top: 20%;
    }
  
  form {
    width: 100%;
    text-align: center;
  }
  
  input,
  button,
   {
    width: 400px;
    font-size: medium;
    margin: 5px;
  }
  
  button {
    background-color: lightblue;
    color: #008cba;
    border: 2px lightblue;
    border-radius: 10px;
    width: 300px;
    font-weight: bold;
  }
  
  textarea{
  width: 200px;
  position: relative;
  }
