<div class="flex-container">
  <div class="contact-us">
    <div class="contact">
      <h4>Get in Touch</h4>
      <h5>Please fill out the form and we'll be in touch soon</h5>
      <form #userForm="ngForm" (ngSubmit)="send(); userForm.reset()">

        <div>
          <mat-form-field>
            <input matInput type="text" name="phone" ngModel pattern="^\s*(?:\+?\d{1,3})?[- (]*\d{3}(?:[- )]*\d{3})?[- ]*\d{4}(?: *[x/#]\d+)?\s*$"
              placeholder="phone number..." [(ngModel)]="contact.phone" #phone="ngModel" />
          </mat-form-field>
          <span *ngIf="phone.dirty && phone.invalid">Invalid Phone.</span>
        </div>

        <div>
          <mat-form-field>
            <input matInput type="email" name="email" [(ngModel)]="contact.email" pattern="^[\w.]+@[\w.]+\.[.a-zA-Z]+$"
              placeholder="Email..." autofocus #email="ngModel" ngModel [email]="true" />
          </mat-form-field>
          <span *ngIf="email.dirty && email.invalid">Invalid Email.</span>
        </div>

        <div>
          <mat-form-field>
            <textarea matInput type="text" name="message" [(ngModel)]="contact.message" placeholder="Message..."
              required #message="ngModel"></textarea>
          </mat-form-field>
          <span *ngIf="message.dirty && message.invalid">Missing Message.</span>
        </div>

        <div>
          <button [disabled]="userForm.form.invalid">Go-Ahead</button>
        </div>
      </form>
    </div>
  </div>
</div>