<div class="userResult">
  <button type="button" class="btn-Newgame btn btn-danger" (click)="refresh()">New Game</button>
  <p class="text-black">Steps: {{stepsCounter}}</p>
  <p class="text-black">Time: <app-clock></app-clock>
  </p>
</div>

<div class="memory-game">
  <div class="memory-card" id="{{image.imageName}}" *ngFor="let image of images" (click)="pickCard($event, image)">
    <div [hidden]="image.isUncovered">
      <img class="front-face" src="assets/images/cardsImages/{{ image.imageName }}" alt="Memory Card" />
      <img class="back-face" src="assets/images/cardsImages/card.jpg" alt="Memory Card" />
    </div>
  </div>
</div>