<div class="container">
  <!-- <h1>About</h1> -->
  <div class="black-square">
    <div class="saritPic">
      <!-- <img src="/assets/images/saritPic.jpg" alt="Sarit Cohen Shema" width="160px" height="210px"> -->
    </div>
    <!-- <div class="saritDescription"> -->
    <h2>
      About:
      Sarit Cohen Shema is a full-stack developer focused on web site and
      application development including database development.Sarit also has an
      experience with Human Resources in the Tech industry, customer
      relationship management and business development.</h2>
  </div>
</div>