h1 {
    margin-left: 16%;
    color: purple;
    font-family: "Open Sans", "Segoe UI", Tahoma, sans-serif;
}

.about {
    color: white;
    font-family: "Open Sans", "Segoe UI", Tahoma, sans-serif;
    font-weight: 200;
}

.container {
    height: 100%;
    display: flex;
}

.black-square {
    background-color: rgba(0, 0, 0, 0.6);
    width: 850px;
    height: 300px;
    margin-top: 8.5%;
    margin-left: auto;
    margin-right: auto;
}

* {
    box-sizing: border-box;
}

body {
    margin: 0 auto;
    max-width: 750px;
    font-size: 10px;
    font-family: "Open Sans", "Segoe UI", Tahoma, sans-serif;
}

.saritPic {
    float: left;
    background-image: url("/assets/images/saritPic.jpg");
    background-size: 100% 100%;
    width: 200px;
    height: 300px;
    margin: 0px 14px 0 0px;
    shape-outside: content-box polygon( -2% -0.7%, 111% -0.2%, 115.7% 51.7%, 115.9% 99.8%, 109.4% 110.5%, 0.5% 110.3%);
    shape-margin: 0;
}

@media only screen and (max-width: 600px) {
    .black-square {
        width: 849px;
        height: 408px
    }
    .saritPic {
        width: 130px;
        height: 189px;
    }
    .about {
        font-size: 1.5rem;
    }
}

@media only screen and (min-width: 373px) and (max-width:1024px) {
    .black-square {
        background-color: transparent;
    }
    .about {
        color: black;
    }
}