.flex-container {
    display: flex;
    flex-direction: row-reverse;
    background-image: url('../../../assets/images/home-page-2.jpg');
    background-repeat: no-repeat;
    background-size: 120% 120%;
    max-height: 120%;
}

.flex-container>div {
    float: right;
    height: -webkit-fill-available;
    background-color: white;
    width: 40%;
}

.sign {
    color: #008cba;
    font-family: Arial;
    font-weight: bold;
    text-align: center;
    margin-left: auto;
    margin-top: 6%;
}

form {
    width: 100%;
    text-align: center;
}

.small {
    font-size: x-small;
}

input,
button,
textarea {
    width: 400px;
    font-size: small;
    margin: 5px;
}

button {
    background-color: lightblue;
    color: #008cba;
    border: 2px lightblue;
    border-radius: 10px;
    width: 300px;
    font-weight: bold;
}

@media only screen and (max-width: 768px) {
    .flex-container>div {
        width: 100%;
        background-color: white;
    }
}

@media only screen and (min-width: 768px) and (max-width:1024px) {
    .flex-container {
        background-size: 123% 93%;
    }
    .sign {
        margin-top: 0%;
    }
}