<div class="flex-container">
  <div class="log-in">
    <div class="log">
      <h4>Log-in</h4>
      <h5>We are happy to see you!</h5>
      <form #userForm="ngForm" (ngSubmit)="userForm.form.valid && send()">
        <div>
          <mat-form-field>
            <input matInput type="text" name="User Name" placeholder="User Name..." autofocus required [(ngModel)]="user.userName"
              #userName="ngModel" />
          </mat-form-field>
          <span *ngIf="userName.dirty && userName.invalid">Missing User Name.</span>
        </div>
        <div>
          <mat-form-field>
            <input matInput type="password" name="Password" placeholder="Password..." autofocus required [(ngModel)]="user.password"
              #password="ngModel" />
          </mat-form-field>
          <span *ngIf="password.dirty && password.invalid">Missing Password.</span>
        </div>
        <div><button [disabled]="userForm.form.invalid">Go-Ahead</button></div>
      </form>
    </div>
  </div>
</div>