.flex-container {
    display: flex;
    flex-direction: row-reverse;
    background-image: url('../../../assets/images/home-page-2.jpg');
    background-repeat: no-repeat;
    background-size: 120% 120%;
    height: 120%;
}

.flex-container>div {
    float: right;
    height: -webkit-fill-available;
    background-color: white;
    width: 40%;
}

.feedback {
    color: #008cba;
    font-family: Arial;
    font-weight: bold;
    text-align: center;
    margin-left: auto;
    margin-top: 20%;
}

form {
    width: 100%;
    text-align: center;
}

button {
    background-color: lightblue;
    color: #008cba;
    border: 2px lightblue;
    border-radius: 10px;
    width: 179px;
    font-weight: bold;
}

textarea {
    padding: 10px;
    line-height: 1.5;
    border-radius: 5px;
    border: 1px solid #ccc;
    box-shadow: 1px 1px 1px #999;
    resize: none;
    display: block;
    margin: auto;
}

@media only screen and (max-width: 768px) {
    .flex-container>div {
        width: 100%;
        background-color: white;
    }
}

@media only screen and (min-width: 768px) and (max-width:1024px) {
    .flex-container {
        background-size: 123% 93%;
    }
}

/deep/ .mat-input-underline {
    background-color: white;
}