// table {
//   margin-top: 2%;
//     width: 60%;
//     margin-left: auto;
//     margin-right: auto;
//   }
  

  .userFeedbacks-headline{
    margin-left: 20%;
    color:white;
}

.table-wrapper-scroll-y{
  margin-top: 10px;
  width: 70%;
  margin: 0 auto;
  height: 74.5vh;
  overflow-y: scroll;
  font-family:"Open Sans", "Segoe UI", Tahoma, sans-serif;

}